body {
  color: hsl(170, 30%, 10%);

  background-color: hsl(170, 30%, 30%);
}

h1 {
  margin: 0;

  font-size: 6em;
  text-align: justify;
  white-space: nowrap;
}

span {
  color: hsl(340, 90%, 50%);
  font-style: italic;
}
